{% extends "LSBAppBundle::layout.html.twig" %}

{% block title %} {{ parent() }} {% endblock %}

{% block stylesheets %} {{ parent() }} {% endblock %}

{% block body %}
    <h1>BoardGame</h1>

    {{ form_start(boardGame) }}

    {{ form_end(boardGame) }}
{% endblock %}

{% block javascripts %} {{ parent() }} {% endblock %}