{% extends "LSBAppBundle::layout.html.twig" %}

{% block title %} {{ parent() }} {% endblock %}

{% block stylesheets %} {{ parent() }} {% endblock %}

{% block body %}

    <div class="container" id="connexion-bar">
        <div class="row text-right">
            <a class="connexion-button margin-connexion-button" href="http://seigneur-bourbonnais.activebb.net">FORUM</a>
            {% if is_granted("ROLE_ADMIN") %}
                <a class="connexion-button" href="{{ path('lsb_app_tournament') }}">CRÉER UN TOURNOI</a>
                <a class="connexion-button margin-connexion-button" href="{{ path('lsb_app_user_management') }}">ADMIN</a>
            {% endif %}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED")  %}
                <a class="connexion-button" href="{{ path('fos_user_security_logout') }}">SE DÉCONNECTER</a>
            {% else %}
                <a class="connexion-button" href="{{ path('fos_user_security_login') }}">SE CONNECTER</a>
                <a class="connexion-button" href="{{ path('fos_user_registration_register') }}">S'INSCRIRE</a>
            {% endif %}
        </div>
    </div>

    <div id="banner" class="hidden-xs">
        <div class="text-center">
            <h1 id="banner-title">LES SEIGNEURS BOURBONNAIS</h1>
        </div>
    </div>

    <div class="container-fluid" id="home-page">
        <div id="content-home-page" class="text-justify col-sm-offset-2 col-sm-8">

            {% if is_granted("ROLE_MEMBER") or is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ADMIN") %}
                <div id="Tournament-area">
                    <div id="home-tournament-title" class="row text-center">
                        <h2 class="col-sm-offset-1 col-sm-10 hr-bottom">PROCHAIN TOURNOI</h2>
                    </div>
                    <div id="home-tournaments" class="row text-center">
                        {% for tournament in tournaments %}
                            <div id="tournament">
                                <p class="tournament-item-title">{{ tournament.name }} | {{ fr(tournament.tournamentDate.timestamp) }} {{ tournament.tournamentDate|date("H:i") }}</p>
                                <p class="tournament-item-place">{{ tournament.place }}</p>
                                <p class="tournament-item-info">{{ tournament.moreInformation }}</p>
                                {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ADMIN") %}
                                    <a class="management-game-button-delete" href="{{ path('lsb_app_delete_tournament', {'id': tournament.id}) }}">Supprimer le tournoi</a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div id="list-dates">
                    <div id="home-tournament-date" class="row text-center">
                        <h2 class="col-sm-offset-1 col-sm-10 hr-bottom">PROCHAINES RÉUNIONS</h2>
                    </div>
                    {% for date in dates %}
                        <div class="date col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 text-center">
                            <a href="{{ path('lsb_app_lobby', {'timestamp': date.timestamp}) }}">{{ fr(date.timestamp) }}</a>
                        </div>
                    {% endfor %}
                </div>

            {% else %}
                <h2 class="text-center hr-bottom">Présentation de l'association</h2><br /><br />
                <p class="home-p">
                    Les Seigneurs Bourbonnais est une association créée en 2003 qui regroupe des fans de Warhammer mais pas que.
                    Nous sommes joueurs avant tout ! Nous pratiquons les jeux suivants: Warhammer Battle, Warhammer 40K,
                    Mordheim, Battlefleet Gothic, Infinity, WarmaHorde et, du moment d'avoir un adversaire, tous les autres jeux existant.
                </p>
                <p class="home-p">
                    L'association est basée au 20 avenue Alsace-Lorraine à Moulins, du coup, elle est ouverte à tous joueurs des environs.
                    Il y a une session toutes les semaines, une fois le vendredi, une fois le samedi. Les frais d'inscription sont de 20€
                    pour l'année (dégressif selon la date d'inscription), sachant que tous le monde à le droit à deux sessions gratuite
                    pour voir les locaux et même tester les jeux. Nous sommes une quinzaine de membres actifs et nous pouvons accueillir
                    une dizaine de tables.
                </p>
                <p class="home-p">
                    N'hésitez pas a passer vous présentez sur notre forum, ou directement passer nous voir.
                </p>
                <p class="home-p">
                    Nous serons ravis de vous accueillir.
                </p>
            {% endif %}
        </div>
    </div>

    <div id="footer" class="container-fluid">
        <p class="text-center">© Copyright 2016 - Les Seigneurs Bourbonnais - 20 avenue Alsace-Laurraine 03000 Moulins | <a href="{{ path('lsb_app_legal_notice') }}">Mentions légales</a></p>
    </div>
{% endblock %}

{% block javascripts %} {{ parent() }} {% endblock %}