{% extends "LSBAppBundle::layout.html.twig" %}

{% block title %} {{ parent() }} {% endblock %}

{% block stylesheets %} {{ parent() }} {% endblock %}

{% block body %}
    <div class="container" id="lobby-page">

        <div class="return-button">
            <a class="management-game-button" href="{{ path('lsb_app_homepage') }}">Retour à l'accueil</a>
        </div>

        <div id="list-game-area">
            <div class="row">
                <div class="text-center">
                    <h1 id="list-game-title" class="col-sm-offset-1 col-sm-10 hr-bottom">LISTE DES PARTIES</h1>
                </div>
            </div>

            {% if warhammer40ks or warhammerBattles or boardGames %}
                {% for warhammer40k in warhammer40ks %}
                    <div class="row">
                        <div class="col-sm-offset-3 col-sm-6 game">
                            <div class="game-name">
                                <p>
                                    {{ warhammer40k.name|upper }} <span class="pull-right game-type">WARHAMMER 40K</span>
                                </p>
                            </div>
                            <div class="game-content">
                                <div class="row padding-game">
                                    <p class="col-sm-6">{{ warhammer40k.players }} joueurs</p>
                                    <p class="col-sm-6">{{ warhammer40k.style }}</p>
                                </div>
                                <div class="row padding-game">
                                    <p class="col-sm-6">Points d'armée : {{ warhammer40k.armyPoints }}</p>
                                    <p class="col-sm-6">Points CPM : {{ warhammer40k.cpmPoints }}</p>
                                </div>
                                <div class="row padding-game">
                                    <p class="col-sm-12">Inscrits:
                                        {% for user in warhammer40k.users %}
                                            <span>{{ user.username }} </span>
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                            <div class="row padding-game">
                                <div class="col-sm-12">
                                    {% if  user in warhammer40k.users and user != warhammer40k.creator %}
                                        <a class="management-game-button-delete pull-right" href="{{ path('lsb_app_leave_warhammer40k', {'timestamp': timestamp, 'id': warhammer40k.id}) }}">Retirer</a>
                                    {% elseif user == warhammer40k.creator %}
                                        <a class="management-game-button-delete pull-right" href="{{ path('lsb_app_delete_warhammer40k', {'timestamp': timestamp, 'id': warhammer40k.id}) }}">Supprimer le jeu</a>
                                    {% else %}
                                        <a class="management-game-button-join pull-right" href="{{ path('lsb_app_join_warhammer40k', {'timestamp': timestamp, 'id': warhammer40k.id}) }}">Rejoindre</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% for warhammerBattle in warhammerBattles %}
                    <div class="row">
                        <div class="col-sm-offset-3 col-sm-6 game">
                            <div class="game-name">
                                <p>
                                    {{ warhammerBattle.name|upper }} <span class="pull-right game-type">WARHAMMER BATTLE</span>
                                </p>
                            </div>
                            <div class="game-content">
                                <div class="row padding-game">
                                    <p class="col-sm-6">{{ warhammerBattle.players }} joueurs</p>
                                    <p class="col-sm-6">{{ warhammerBattle.style }}</p>
                                </div>
                                <div class="row padding-game">
                                    <p class="col-sm-6">Système de jeu : {{ warhammerBattle.mode }}</p>
                                    <p class="col-sm-6">Points d'armée : {{ warhammerBattle.armyPoints }}</p>
                                </div>
                                <div class="row padding-game">
                                    <p class="col-sm-12">Inscrits:
                                        {% for user in warhammerBattle.users %}
                                            <span>{{ user.username }} </span>
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                            <div class="row padding-game">
                                <div class="col-sm-12">
                                    {% if  user in warhammerBattle.users and user != warhammerBattle.creator %}
                                        <a class="management-game-button-delete pull-right" href="{{ path('lsb_app_leave_warhammerbattle', {'timestamp': timestamp, 'id': warhammerBattle.id}) }}">Retirer</a>
                                    {% elseif user == warhammerBattle.creator %}
                                        <a class="management-game-button-delete pull-right" href="{{ path('lsb_app_delete_warhammerbattle', {'timestamp': timestamp, 'id': warhammerBattle.id}) }}">Supprimer le jeu</a>
                                    {% else %}
                                        <a class="management-game-button-join pull-right" href="{{ path('lsb_app_join_warhammerbattle', {'timestamp': timestamp, 'id': warhammerBattle.id}) }}">Rejoindre</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% for boardGame in boardGames %}
                    <div class="row">
                        <div class="col-sm-offset-3 col-sm-6 game">
                            <div class="game-name">
                                <p>
                                    {{ boardGame.name|upper }} <span class="pull-right game-type">JEU DE PLATEAU</span>
                                </p>
                            </div>
                            <div class="game-content">
                                <div class="row padding-game">
                                    <p class="col-sm-6">{{ boardGame.players }} joueurs</p>
                                </div>
                                <div class="row padding-game">
                                    <p class="col-sm-12">Inscrits:
                                        {% for user in boardGame.users %}
                                            <span>{{ user.username }} </span>
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                            <div class="row padding-game">
                                <div class="col-sm-12">
                                    {% if  user in boardGame.users and user != boardGame.creator %}
                                        <a class="management-game-button-delete pull-right" href="{{ path('lsb_app_leave_boardgame', {'timestamp': timestamp, 'id': boardGame.id}) }}">Retirer</a>
                                    {% elseif user == boardGame.creator %}
                                        <a class="management-game-button-delete pull-right" href="{{ path('lsb_app_delete_boardgame', {'timestamp': timestamp, 'id': boardGame.id}) }}">Supprimer le jeu</a>
                                    {% else %}
                                        <a class="management-game-button-join pull-right" href="{{ path('lsb_app_join_boardgame', {'timestamp': timestamp, 'id': boardGame.id}) }}">Rejoindre</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="text-center" id="empty-list-games">Aucune partie</p>
            {% endif %}
        </div>


        <div id="create-game-area">
            <div class="row">
                <div class="text-center">
                    <div class="col-sm-offset-1 col-sm-10 hr-bottom" id="create-game-title">
                        <i class="fa fa-shield fa-2x align-shield shield-icon-left" aria-hidden="true"></i><h2 class="align-shield">CRÉER UNE PARTIE</h2><i class="fa fa-shield fa-2x align-shield shield-icon-right" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <div class="row" id="create-button-area">
                <div class="text-center"><a id="button-40k" class="col-sm-offset-1 col-sm-2" href="{{ path('lsb_app_creation_warhammer40k', {'timestamp': timestamp}) }}">WARHAMMER 40K</a></div>
                <div class="text-center"><a id="button-battle" class="col-sm-offset-2 col-sm-2" href="{{ path('lsb_app_creation_warhammerbattle', {'timestamp': timestamp}) }}">WARHAMMER BATTLE</a></div>
                <div class="text-center"><a id="button-boardgame" class="col-sm-offset-2 col-sm-2" href="{{ path('lsb_app_creation_boardgame', {'timestamp': timestamp}) }}">JEU DE PLATEAU</a></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %} {{ parent() }} {% endblock %}